/* Default css style start */
*,
::after,
::before,
a,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Default css style end */

/* header section is start */
/* header {} */

.bannerImg {
    position: relative;
}

.bannerImg img {
    max-width: 100%;
    height: auto;
}

.bannerContents {
    color: white;
    text-align: center;
    padding: 5px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.bannerInnerDetails {
    max-width: 200px;
    height: auto;
    border: 1px solid white;
}

.bannertitle {
    font-size: 25px;
    margin: 20px 0px;
    opacity: .8;
}

.bannerSubTitle {
    font-size: 20px;
    margin: 10px 0px;
    opacity: .8;
}

.headerMenu {
    padding: 15px;
    background-color: #f1f1f1;
}

.headerMenu ul {
    display: flex;
    justify-content: center;

}

.headerMenu ul li {
    text-align: center;
    background-color: #f1f1f1;
}

.headerMenu ul li a {
    padding: 10px 15px;
    display: inline-block;
    color: black;
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.headerMenu ul li a:hover {
    background-color: #ccc;
    color: black;
}

/* header section is end */